<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Encriptar datos</h2>
        <form action="encryption_tests?action=encrypt" method="post">
            {% csrf_token %}
            {{ encrypt_form }}
            <input type="submit" value="Enviar">
        </form>
        {% if cipher_data != None %}
            <p>Datos encriptados: {{cipher_data}}</p>
        {% endif %} 
        <br>
        <form action="encryption_tests?action=decrypt" method="post">
            {% csrf_token %}
            {{ decrypt_form }}
            <input type="submit" value="Enviar">
        </form>
        {% if decipher_data != None %}
            <p>Datos desencriptados: {{decipher_data}}</p>
        {% endif %} 
    </div>
    
</body>
</html>